<table id='stores' class='display table table-striped table-hover'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">
        <%= Store.human_attribute_name(:name) %>
      </th>
      <th scope="col">
        <%= Store.human_attribute_name(:owner) %>
      </th>
      <th scope="col">
        <%= t('actions') %>
      </th>
    </tr>
  </head>

  <tbody> 
    <%= render partial: 'store', collection: stores %>
  </tbody>
</table>