<div class='content my-4 d-flex justify-content-between'>
  <div>
    <h1><%= Store.model_name.human(count: 2) %></h1>
  </div>

  <div>
    <%= link_to t('buttons.import_file'), transactions_import_path, class: 'btn btn-sm  btn-primary' %>
  </div>
</div>

<% if @stores.any? %>
  <div class="table-responsive">
    <%= render partial: 'stores_table', locals: { stores: @stores }%>
  </div>
<% else %>
  <p><%= t('no_stores') %></p>
<% end %>
