<table id='transactions' class='display table table-striped table-hover'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Occurrence At</th>
      <th scope="col">Card Number</th>
      <th scope="col">CPF</th>
      <th scope="col">Kind</th>
      <th style='display:none'></th>
      <th scope="col">Amount</th>
    </tr>
  </head>

  <tbody> 
    <%= render partial: 'transactions/transaction_item', collection: transactions, as: :transaction %>
  </tbody>

  <tfoot>
    <tr>
      <th colspan='4' class= 'text-end'>Soma:</th>
      <th class='text-end'></th>
    </tr>
  </tfoot>
</table>