<div class='content my-4 d-flex justify-content-between'>
  <div>
    <h1>Import File</h1>
  </div>

  <div>
    <%= link_to 'Home', root_path, class: 'btn btn-sm  btn-secondary' %>
  </div>
</div>

<%= render partial: 'transactions/import_form' %>