<div class='content my-4 d-flex justify-content-between'>
  <div>
    <h1><%= t('import_transaction') %></h1>
  </div>

  <div>
    <%= link_to t('buttons.home'), root_path, class: 'btn btn-sm  btn-secondary' %>
  </div>
</div>

<%= render partial: 'transactions/import_form' %>