<div class='content my-4 d-flex justify-content-between'>
  <div>
    <h1>Transactions</h1>
  </div>

  <div>
    <%= link_to 'Import from file', transactions_import_path, class: 'btn btn-sm  btn-primary' %>
  </div>
</div>

<div class="table-responsive">
  <%= render partial: 'transaction_table', locals: { transactions: @transactions }%>
</div>